@import 'normalize'
@import 'skeleton'
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900')

.stk
	position: fixed
	z-index: 999
	box-shadow: 0 0 12px 6px rgba(0, 0, 0, .2)

.menu-active
	z-index: -10

.menu
	display: none

.open
	display: block !important
	position: fixed
	z-index: 10

.menu-icon-close
	font-size: 4em !important

.menu-open
	background: rgba(255, 255, 255, .9)
	display: none
	height: 100vh
	width: 70%
	text-align: center
	box-shadow: 0 0 12px 6px rgba(0, 0, 0, .2)
	z-index: 10
	transition: all .5s ease-in-out

	ul
		list-style-type: none

		li
			margin-top: 25px

			a
				display: block
				text-decoration: none
				width: 100%
				font-size: 2em

.left
	text-align: left

.card
	border-bottom: 3px solid #eee
	padding: 1rem
	transition: all .3s ease-in-out

	p,
	li
		font-weight: 500
	

	&:hover
		border-bottom: 3px solid #2196F3
		box-shadow: 0 8px 16px rgba(0, 0, 0, .3)


.btn
	display: block
	padding: 1rem 2rem
	border-radius: 12px
	background-color: #FFF
	margin: 10px 0
	text-decoration: none
	text-align: center
	font-size: 1em
	font-weight: 700

.call-btn
	color: #00897B
	transition: all .3s ease-in-out

	&:hover
		color: #FAFAFA
		background-color: #00897B
		box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .2)

.env-btn
	color: #1565C0
	transition: all .3s ease-in-out

	&:hover
		color: #FAFAFA
		background-color: #1565C0
		box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .2)

.sub-title
	text-align: center
	text-transform: uppercase
	color: #333

	&:after
		content: ''
		display: block
		margin: 1rem auto
		width: 20%
		height: 1px
		background-color: #ccc

.phone
	content: ''
	display: inline-block
	background: url("../img/phone-receiver.svg")
		size: contain
	width: .6em
	height: .6em

body
	font-family: 'Raleway'

section
	padding: 100px 0

.nav-wrapper
	background-color: transparent

.navbar
	background-color: #2196F3
	color: #FAFAFA
	width: 100%
	transition: all .3s ease-in-out

	ul
		list-style: none
		text-align: center

		li
			display: inline-block
			margin-top: 20px

	a
		color: #FAFAFA
		text-decoration: none
		padding: 3rem 2rem
		height: 100%

		&:hover
			background-color: #FAFAFA
			color: #2196F3

header
	background: linear-gradient(rgba(#FFF, .4), rgba(#FAFAFA, .2)), url("../img/banner-bg.jpg")
		size: cover
		repeat: no-repeat
		position: center center
		attachment: fixed
	color: #212121
	padding-top: 2rem
	height: 90vh
	overflow: hidden

	.page-lead
		text-align: center
		position: relative
		margin-top: 5%

	.page-title
		text-transform: uppercase
		font-weight: 200

	.cta
		font-weight: 500
		box-sizing: border-box
		color: #1565C0
		text-decoration: none
		padding: 1.2rem 2.4rem
		background-color: #FAFAFA
		border-radius: 1em
		font-size: 1.2em
		text-transform: uppercase
		box-shadow: 0 0 8px 24px transparent
		transition: all .3s ease-in-out

		&:hover
			box-shadow: 0 0 8px 0 rgba(255, 255, 255, .4)

	.brands
		margin: 30px auto
		text-align: left
		overflow: hidden

		li
			display: inline-block

			img 
				width: 140px

.service

	.service-tag
		text-align: center
	
	.service-icon
		img
			width: 40%

	.cta-tag
		margin-top: 4rem
		text-align: center
		color: #444
		font-size: 1.2em
		font-weight: 400

		&:after
			content: ''
			display: block
			width: 70%
			height: 1px
			background-color: #1565C0
			margin: 2rem auto

.about
	background: linear-gradient(rgba(#1565C0, .8), rgba(#1565C0, .6)), url("../img/window-bg.jpg")
		attachment: fixed
		size: cover
		repeat: no-repeat
		position: center center
	text-align: justify
	color: #FAFAFA

.skills
	.service-img
		width: 100%
		height: auto

	.row
		margin-top: 100px

.brand-container
	text-align: center

.contact

	label
		text-transform: uppercase
		font-weight: 300
		color: #212121

	textarea
		margin: 0 auto
		text-align: center
		width: 100%
		height: 100%

	input
		&[type=text]
			width: 100%
			border: solid 1px #1565C0

		&[type=email]
			width: 100%
			border: solid 1px #1565C0

	.reset,
	.enviar
		margin-top: 20%

	.reset

	.enviar
		margin-left: 20px

footer
	background-color: #263238
	color: #fafafa
	padding-top: 4rem
	text-align: center

	.contact-item
		text-transform: uppercase
		margin-bottom: 15px
		font-weight: 400
		font-size: 1.2em

	a
		text-decoration: none
		font-size: 1.1em
		color: #FAFAFA
	
	.footer-link
		text-align: center
		margin: 2.5rem auto
		font-weight: 300
		font-size: 1em
		display: block

	.footer-tag
		margin: 2rem 0
		font-size: 1em	

@media (max-width: 768px)

	.menu
		display: none
		text-align: center
		color: #2196F3
		position: fixed
		background: #FAFAFA
		border-radius: 50%
		padding: 2rem
		width: 3rem
		margin-top: 25px
		margin-left: 25px
		font-size: 1.5em
	
	.navbar
		display: none

		ul

			li
				display: block