doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Tecni Freezer | Técnicos en frio
		meta(name="description", content="Mantenimiento y reparación de refrigeradores, congeladores, frigoríficos, diseño fabricación y matenimiento de cuartos frios, reparación y servicio técnico de aire acondicionado, servicio tecnico de lavadoras, secadoras, línea blanca.")
		meta(name="author", content="Alejandro H Tadino M")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/styles.css')
		script(src="https://use.fontawesome.com/8940ad064b.js")
	body
		
		.menu
			i(class="fa fa-bars" aria-hidden="true")

		.menu-open
			.container
				.row
					ul
						li.twelve.columns
							a
								i(class="fa fa-times" aria-hidden="true").menu-icon-close
						li.nav-item.twelve.columns
							a(href="#home")
								|INICIO
						li.nav-item.twelve.columns
							a(href="#service")
								|SERVICIOS
						li.nav-item.twelve.columns
							a(href="#about")
								|LA EMPRESA
						li.nav-item.twelve.columns
							a(href="#description")
								|DESCRIPCION
						li.nav-item.twelve.columns
							a(href="#contact")
									|CONTACTOS


		nav.navbar
			.container
				.row
					.twelve.columns
						ul
							li.nav-item
								a(href="#home")
									|INICIO
							li.nav-item
								a(href="#service")
									|SERVICIOS
							li.nav-item
								a(href="#about")
									|LA EMPRESA
							li.nav-item
								a(href="#description")
									|DESCRIPCION
							li.nav-item
								a(href="#contact")
									|CONTACTOS


		header#home
			.container
				.row
					.twelve.columns
						.page-lead
							img(src="img/logo-t.png")
							h1.page-title tecnifreezer 
							h3 Técnicos en Frio
							p Mantenimiento y reparación de <span class="accent">linea blanca</span>
							.nav-item
								a(href="#contact").cta contactos
		
		main
			article
				section.service#service

					.container
						.row
							.four.columns
								.service-tag
									.card.card-r
										.service-icon
											include ../img/wrench.svg
										h4
										p Tecni-freezer somos especialistas en mantenimiento preventivo y reparación de refrigeradoras, congeladores, frigoríficos, aire acondicionado, línea blanca, sistemas y equipos de refrigeración, también diseñamos, fabricamos cuartos fríos .

							.four.columns
								.service-tag
									.card.card-r
										.service-icon
											include ../img/worker.svg
										h4
										p Ofrecemos el servicio de mantenimiento preventivo y correctivo como el diseño y fabricación de cuartos fríos y sistemas de refrigeración, garantizando a nuestro cliente, la disponibilidad de sus equipos en todo momento. 
							.four.columns
								.service-tag
									.card.card-r
										.service-icon
											include ../img/emergency.svg
										h4
										p Brindamos servicios de atención inmediata las 24 horas del día para llamadas de emergencia. Estamos ubicados en Quito - Ecuador

				section.about#about
					.container
						.row
							.twelve.columns
								q Tecni-freezer birnda el servicio de Arreglo y reparación de refrigeradores, Arreglo y reparación de lavadoras, Arreglo de secadoras, Arreglo de calefones. Nuestros tecnicos estan capacitados para dar Mantenimiento de refrigeradores, Mantenimiento de lavadoras, Mantenimiento de secadoras, Mantenimiento de calefones.
						.row
							.four.columns
								a(href="tel:(+593)2603-6629").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> (+593) 2603-6629
							.four.columns
								a(href="tel:(+593)9980-01923").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> (+593) 9980-01923
							.four.columns
								a(href="mailto:info@tecni-freezer.com").btn.env-btn <i class="fa fa-envelope" aria-hidden="true"></i> info@tecni-freezer.com

				section.skills#description
					.container
						.row
							.six.columns
								h2 Reparacion servicio tecnico refrigeradores congeladores frigorificos Quito
								p Realizamos reparación y servicio técnico a domicilo de refrigeradores, congeladores, frigorificos de las marcas Mabe, Samsung, Whirlpool, Panasonic, Philips, Goldstar, Electrolux, LG, Daewoo, Frigidaire, y otras.
								p <strong>Servicio Tecnico en instalacion, reparacion  y mantencion de Refrigeradores GENERAL ELECTRIC</strong>
								p Nuestro servicio cubre toda la ciudad de Quito, contamos también con un grupo de trabajo listo para desplasarce a las diferentes provicncias del Ecuador.
							.six.columns
								img(src="img/img-service-1.jpg").service-img
						.row
							.six.columns
								img(src="img/img-service-2.jpg").service-img

							.six.columns.left
								h2 Servicio técnico de linea blanca Quito
								p Realizamos mantenimiento y servico técnico preventivo de toda la línea blanca como lavadoras, secadoras, micro ondas, extractores de vapor, sentrifugadoras, estufas, etc.
								p Realizamos el servico técnico de todas las marcas como:
								p <strong>Mabe, Magefesa, Sony, Panasonic, Black & Decker, Coby, Easy, Frigidaire, General Electric, Iem, Man, Yes, Navia, Osterizer, Samsung, Super Flama, Tecarsa, Teleforma, Singer, Whirlpool, Acros, Koblenz, T-fal, Moulinex</strong>
						.row
							.six.columns
								h2 Mantenimiento y reparacion de lavadoras en Quito
								p Mantenimiento de lavadoras en quito, brindamos servicio técnico de lavadoras en Quito Ecuador, además brindamos reparación de lavadoras LG, Frigidare, Mabe, electrolux, Bosh, Samsung, Daewoo, Whirpool, puede solicitar nuestra visita técnica, contamos con profesionales capacitados.
								p <strong>Si busca lugares donde reparar lavadoras en Quito, estaremos gustosos de atenderlo, somo TECNI-FREEZER.</strong>
								p Solicite información a travéz de nuestra página web www.tecni-freezer.com o puede escribirnos a info@tecni-freezer.com.
							.six.columns
								img(src="img/img-service-3.jpg").service-img

				section.brands
					.container
						.row
							.twelve.columns
								.brand-container
									ul
										li.brand-item
											img(src="img/brand-1.png", alt="")
										li.brand-item
											img(src="img/brand-2.png", alt="")
										li.brand-item
											img(src="img/brand-3.png", alt="")
										li.brand-item
											img(src="img/brand-4.png", alt="")
										li.brand-item
											img(src="img/brand-5.png", alt="")
										li.brand-item
											img(src="img/brand-6.png", alt="")
										li.brand-item
											img(src="img/brand-7.png", alt="")


				section.contact#contact
					.container
						.row
							form(action="process.php", id="formulario", method="POST")
								.four.columns
									label(for="nombre") Nombre
									input(type="text", required, name="nombre", placeholder="Inserte su nombre")
								.four.columns
									label(for="email") Asunto
									input(type="text", required, placeholder="Inserte el asunto del mensaje", name="asunto")
								.four.columns
									label(for="email") E-mail
									input(type="email", required, placeholder="Ingrese su dirección de E-mail", name="email")

						.row
							.six.columns
								label(for="email") Mensaje
								textarea(name="mensaje", rows="4", required placeholder="Deje su mensaje")
							.six.columns
								input(type="reset", class="reset", value="Borrar Todo")
								input(type="submit", class="enviar", value="Enviar")

		footer
			.container
				.row
					.four.columns
						p info@tecni-freezer.com
					.four.columns
						p (+593) 2603-6629
					.four.columns
						p (+593) 9980-01923

				.row
					.twelve.columns
						h2.footer-tag
							a(href="//clicnovo.com/") Clicnovo
		//- Scripts ----------------------------------------
		script(src="js/jquery.min.js")
		script(src="js/functions.js")