doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Tecni Freezer | Técnicos en frio
		meta(name="description", content="Mantenimiento y reparación de refrigeradores, congeladores, frigoríficos, diseño fabricación y matenimiento de cuartos frios, reparación y servicio técnico de aire acondicionado, servicio tecnico de lavadoras, secadoras, línea blanca.")
		meta(name="author", content="Alejandro H Tadino M - Clicnovo")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/styles.css')
		script(src="https://use.fontawesome.com/8940ad064b.js")
	body
		
		.menu
			i(class="fa fa-bars" aria-hidden="true")

		.menu-open
			.container
				.row
					ul
						li.twelve.columns
							a(href="#")
								i(class="fa fa-times" aria-hidden="true").menu-icon-close
						li.nav-item.twelve.columns
							a(href="#home") INICIO
						li.nav-item.twelve.columns
							a(href="#frezeer") REFRIGERADORES
						li.nav-item.twelve.columns
							a(href="#audio") AUDIO Y VIDEO
						li.nav-item.twelve.columns
							a(href="#whashing") LAVADORAS
						li.nav-item.twelve.columns
							a(href="#contact") CONTACTOS
		nav.navbar
			.container
				.row
					.twelve.columns
						ul
							li.nav-item
								a(href="#home") INICIO
							li.nav-item
								a(href="#frezeer") REFRIGERADORES
							li.nav-item
								a(href="#audio") AUDIO Y VIDEO
							li.nav-item
								a(href="#whashing") LAVADORAS
							li.nav-item
								a(href="#contact") CONTACTOS
		header#home
			.container
				.row
					.twelve.columns
						.page-lead
							img(src="img/logo-t.png")
							h1.page-title tecnifreezer 
							h3 09980-01923 02603-6629
							p Mantenimiento y reparación de <span class="accent">Refrigeradoras, Lavadoras y Secadoras</span>
							.nav-item
								a(href="#contact").cta contactos
							.brands
								.brand-container
									ul
										li.brand-item
											img(src="img/brand-1.png", alt="Centrales")
										li.brand-item
											img(src="img/brand-2.png", alt="General Electric")
										li.brand-item
											img(src="img/brand-3.png", alt="LG")
										li.brand-item
											img(src="img/brand-4.png", alt="Mabe")
										li.brand-item
											img(src="img/brand-5.png", alt="Samsung")
										li.brand-item
											img(src="img/brand-6.png", alt="Whirlpool")
										li.brand-item
											img(src="img/brand-7.png", alt="Haceb")
										li.brand-item
											img(src="img/brand-1.png", alt="Centrales")
		main
			article
				section.service#service
					.container
						.row
							.six.columns
								.service-tag
									.card.card-r
										.service-icon
											img(src="img/img-service-2.jpg" alt="Servicio de reparación y mantenimiento de linea blanca")
										p Somos una empresa especializada en el mantenimiento preventivo y correctivo de refrigeradores, frigoríficos y congeladores, de las marcas General Electric, Mabe, Samsung, Whirlpool, Electrolux, LG, Daewoo Y Frigidaire
										p Trabajamos con repuestos 100% originales, lo que nos permite garantizarle nuestro trabajo. El servicio que ofrecemos es <strong>A DOMICILIO</strong>. Técnicos profesionales cubren la ciudad de Quito, Cumbaya, Tumbaco y Los Valles.
							.six.columns
								.service-tag
									.card.card-r
										.service-icon
											img(src="img/lava-icon.jpg" alt="Servicio de reparación y mantenimiento de linea blanca")
										p Mantenimiento reparación e instalación de lavadoras y secadoras en Quito, Cumbaya, Tumbaco y los Valles.
										p Si su lavadora:
										ul(style="text-align: left; margin-left: 2rem")
											li No lava
											li No centrifuga
											li No vota el agua
											li Presenta un codigo de error
										p Llame YA 0998001923 o 6032329 trabajamos con las marcas General Electric, Mabe, Samsung, Whirlpool, Electrolux, LG, Daewoo Y Frigidaire
						.row
							.twelve.columns
								.cta-tag
									p Brindamos servicios de atención inmediata las 24 horas del día para llamadas de emergencia. 
									p Estamos ubicados en Quito - Ecuador
				section.about#about
					.container
						.row
							.twelve.columns
								p TecniFreezer somos una empresa que se dedica a la reparación y mantenimiento e instalación de refrigeradores, lavadoras, secadoras y de equipos de audio y video contamos con un selecto grupo de técnicos capacitados para las respectivas áreas.
								p Trabajamos con repuestos originales en lo que es General Electric, Mabe, Samsung, Whirlpool, Electrolux, LG, Daewoo Y Frigidaire, lo que nos permite garantizar nuestro trabajo.
						.row
							.four.columns
								a(href="tel:02603-6629").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i>02603-6629
							.four.columns
								a(href="tel:09980-01923").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i>09980-01923
							.four.columns
								a(href="mailto:info@tecni-freezer.com").btn.env-btn <i class="fa fa-envelope" aria-hidden="true"></i> info@tecni-freezer.com
				section.skills
					.container
						.row#frezeer
							.six.columns
								h2 Reparación de refrigeradores, frigoríficos y congeladores a domicilio.
								p Mantenimiento, reparacion e instación de refrigeradores, congeladores y frigoríficos.
								p Trabajamos con <strong>General Electric, Mabe, Samsung, Whirlpool, Electrolux, LG, Daewoo Y Frigidaire</strong>
								h5 Si su refrigerador:
								ul
									li NO congela
									li NO enfria
									li Hace escarcha
									li Pita
								h5 Llame ya
								.six.columns
									a(href="tel:02603-6629").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> 02603-6629
								.six.columns
									a(href="tel:09980-01923").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> 09980-01923
							.six.columns
								img(src="img/img-service-1.jpg").service-img
						.row#audio
							.six.columns
								img(src="img/tv-icon.jpg").service-img
							.six.columns.left
								h2 Servicio tecnico de televisores en Quito, reparacion de televisores y arreglo de TV Led a domicilio
								p TecniFrezeer ofrece el servicio tecnico de mantenimiento y reparacion de equipos de audio y video. Trabajamos con, LG, Sony y otras.
								p Las fallas mas comunes en los tv leds son las  fuentes  ya que son muy sencibles a las variasiones de voltaje, la misma tarjeta nos puede dar diferentes fallas, deje que tecnicos profesionales solucionen sus problemas, repuestos originales y precios justos
								h5 Llame ya
								.six.columns
									a(href="tel:02603-6629").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> 02603-6629
								.six.columns
									a(href="tel:09980-01923").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> 09980-01923
						.row#whashing
							.six.columns
								h2 Mantenimiento reparación e instalación de lavadoras y secadoras en Quito, Cumbaya, Tumbaco y los Valles.
								p TecniFreezer somos una empresa que se dedica a la reparación y mantenimiento e instalación de refrigeradores, lavadoras, secadoras y de equipos de audio y video contamos con un selecto grupo de técnicos capacitados para las respectivas áreas.
								p Trabajamos con repuestos originales en lo que es General Electric, Mabe, Samsung, Whirlpool, Electrolux, LG, Daewoo Y Frigidaire, lo que nos permite garantizar nuestro trabajo.
								h5 Si su lavadora:
								ul
									li No lava
									li No centrifuga
									li No vota el agua
								h5 Llame ya
								.six.columns
									a(href="tel:02603-6629").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> 02603-6629
								.six.columns
									a(href="tel:09980-01923").btn.call-btn <i class="fa fa-phone" aria-hidden="true"></i> 09980-01923
							.six.columns
								img(src="img/img-service-3.jpg").service-img
				section.contact#contact
					.container
						h3.sub-title contactos
						.row
							form(action="process.php", id="formulario", method="POST")
								.four.columns
									label(for="nombre") Nombre
									input(type="text", required, name="nombre", placeholder="Inserte su nombre")
									label(for="email") Asunto
									input(type="text", required, placeholder="Inserte el asunto del mensaje", name="asunto")
									label(for="email") E-mail
									input(type="email", required, placeholder="Ingrese su dirección de E-mail", name="email")
								.eight.columns
									label(for="email") Mensaje
									textarea(name="mensaje", rows="4", required placeholder="Deje su mensaje")
									input(type="reset", class="reset", value="Borrar Todo")
									input(type="submit", class="enviar", value="Enviar")
		footer
			.container
				.row
					.four.columns
						h4.contact-item ubicacion
						p.footer-link Quito - Ecuador
					.four.columns
						h4.contact-item correo
						a(href="mailto:info@tecni-freezer.com").footer-link info@tecni-freezer.com
					.four.columns
						h4.contact-item telefono
						a(href="cel:09980-01923").footer-link 09980-01923
						a(href="cel:02603-6629").footer-link 02603-6629
				.row
					.twelve.columns
						h4.footer-tag
							a(href="//clicnovo.com/").clicnovo Copyright &copy; Clicnovo
		//- Scripts ----------------------------------------
		script(src="js/jquery.min.js")
		script(src="js/functions.js")